<body style="background-color:black;">
<div class="col-12 col-md-8" style="padding: 20px;">
<div class="card text-white bg-dark mb-3" style="max-width: 300%; padding: 20px; position: center; left: 250px">
  <div class="card-body">
    <h5 class="card-title"><%= @store_info['name'] %></h5>
    <p class="card-text"><%= @store_info['about'] %></p>
  </div>
  <div class="col-12">
  <h2><a href="<%= products_path %>"> View All Products</a></h2>
  </div>
  <div>
  <h1>Categories</h1>

<% @categories.each do |category| %>
  <h2>
    <%= link_to category.name, category %>
  </h2>
    <p><%= category.description %></p>
    <ul>
      <% category.products.each do |product| %>
        <%= render partial: 'products/product', locals: { product: product } %>
      <% end %>
    </ul>
    <br><br>
<% end %>
</div>

<div class="card" style="width: 100%;">
  <div class="card-header">
    Contact
  </div>
  <div class="card-body">
    <p class="card-text">Address: <%= @store_info['address'] %></p>
    <p class="card-text">Phone: <%= @store_info['phone'] %></p>
     <p class="card-text">Email: <%= @store_info['email'] %></p>
  </div>
</div>
  </div>
</div>
</body>

