
<div class="col-12 col-md-8">
  <h1><%= @store_info['name'] %></h1>
  <p><%= @store_info['about'] %></p>

<div class="col-12">
  <h2><a href="<%= products_path %>">Products</a></h2>
  <div class="row">
    <% @products.each do |product| %>
      <%= render partial: 'products/product', locals: { product: product } %>
    <% end %>
  </div>
<div class="card" style="width: 100%;">
  <div class="card-header">
    Contact
  </div>
  <div class="card-body">
    <p class="card-text">Address: <%= @store_info['address'] %></p>
    <p class="card-text">Phone: <%= @store_info['phone'] %></p>
     <p class="card-text">Email: <%= @store_info['email'] %></p>
  </div>
</div>
  </div>
</div>

