
<div class="col-12 col-md-8">
  <h1><%= @store_info['name'] %></h1>
  <p><%= @store_info['about'] %></p>

  

<div class="col-12 col-md-4">
  <h2><a href="<%= categories_path %>">All Categories</a></h2>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
</div>

<div class="col-12">
  <h2><a href="<%= products_path %>">Products</a></h2>
  <div class="row">
    <% @products.each do |product| %>
      <%= render partial: 'products/product', locals: { product: product } %>
    <% end %>
  </div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Contact
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Address: <%= @store_info['address'] %></li>
    <li class="list-group-item">Phone: <%= @store_info['phone'] %></li>
    <li class="list-group-item">Email: <%= @store_info['email'] %></li>
  </ul>
</div>
  </div>
</div>

